<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar-content" class="leftside-menu">
        <!-- Emerson estuvo aquí... -->
        <!-- Brand Logo Light -->
        <a th:href="@{/}" class="logo logo-light">
            <span class="logo-lg">
                <img th:src="@{/images/logo.png}" alt="logo">
            </span>
            <span class="logo-sm">
                <img th:src="@{/images/logo-sm.png}" alt="small logo">
            </span>
        </a>

        <!-- Brand Logo Dark -->
        <a th:href="@{/}" class="logo logo-dark">
            <span class="logo-lg">
                <img th:src="@{/images/logo-dark.png}" alt="dark logo">
            </span>
            <span class="logo-sm">
                <img th:src="@{/images/logo-dark-sm.png}" alt="small logo">
            </span>
        </a>

        <!-- Sidebar Hover Menu Toggle Button -->
        <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
            <i class="ri-checkbox-blank-circle-line align-middle"></i>
        </div>

        <!-- Full Sidebar Menu Close Button -->
        <div class="button-close-fullsidebar">
            <i class="ri-close-fill align-middle"></i>
        </div>

        <!-- Sidebar -->
        <div class="h-100" id="leftside-menu-container" data-simplebar>
            <!-- Leftbar User -->
            <div class="leftbar-user">
                <a href="pages-profile.html">
                    <img src="images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow-sm">
                    <span class="leftbar-user-name mt-2">Usuario</span>
                </a>
            </div>

            <!--- Sidemenu -->
            <ul class="side-nav">
                <li class="side-nav-title">Navegación</li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#dashboards" aria-expanded="false" aria-controls="dashboards" class="side-nav-link">
                        <i class="align-middle fas fa-home"></i>
                        <span> Dashboard </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="dashboards">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-dashboard" class="sidebar-link" th:href="@{/}">
                                    <i class="fas fa-tachometer-alt me-2"></i>Inicio
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-general-inventory" class="sidebar-link" th:href="@{/general-inventory/}">
                                    <i class="fas fa-box me-2"></i>Inventario general
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-quarterly-inventory" class="sidebar-link" th:href="@{/quarterly-inventory/}">
                                    <i class="fas fa-calendar-alt me-2"></i>Inventario trimestral
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-title">Transacciones</li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#purchases" aria-expanded="false" aria-controls="purchases" class="side-nav-link">
                        <i class="align-middle fas fa-brands fa-shopify"></i>
                        <span> Compras </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="purchases">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-purchase-new" class="sidebar-link" th:href="@{/purchase-new/}">
                                    <i class="fas fa-plus me-2"></i>Nueva compra
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-purchase-details" class="sidebar-link" th:href="@{/purchase-details/}">
                                    <i class="fas fa-info-circle me-2"></i>Detalles de compras
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="sales" class="side-nav-link">
                        <i class="align-middle fas fa-solid fa-cart-plus"></i>
                        <span> Ventas </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sales">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-sale-new" class="sidebar-link" th:href="@{/sale-new/}">
                                    <i class="fas fa-plus me-2"></i>Nueva venta
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-sales-details" class="sidebar-link" th:href="@{/sales-details/}">
                                    <i class="fas fa-info-circle me-2"></i>Detalles de ventas
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-title">Mantenimientos</li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users" class="side-nav-link">
                        <i class="align-middle fas fa-solid fa-user-gear"></i>
                        <span> Usuarios </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="users">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-users" class="sidebar-link" th:href="@{/users/}">
                                    <i class="fas fa-list me-2"></i>Listado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-user-new" class="sidebar-link" th:href="@{/user-new/}">
                                    <i class="fas fa-plus me-2"></i>Nuevo usuario
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#roles" aria-expanded="false" aria-controls="roles" class="side-nav-link">
                        <i class="align-middle fas fa-user-tag"></i>
                        <span> Roles </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="roles">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-roles" class="sidebar-link" th:href="@{/roles/}">
                                    <i class="fas fa-list me-2"></i>Listado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-role-new" class="sidebar-link" th:href="@{/role-new/}">
                                    <i class="fas fa-plus me-2"></i>Nuevo rol
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#clients" aria-expanded="false" aria-controls="clients" class="side-nav-link">
                        <i class="align-middle fas fa-user-friends"></i>
                        <span> Clientes </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="clients">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-clients" class="sidebar-link" th:href="@{/clients/}">
                                    <i class="fas fa-list me-2"></i>Listado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-client-new" class="sidebar-link" th:href="@{/client-new/}">
                                    <i class="fas fa-plus me-2"></i>Nuevo cliente
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#suppliers" aria-expanded="false" aria-controls="suppliers" class="side-nav-link">
                        <i class="align-middle fas fa-truck"></i>
                        <span> Proveedores </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="suppliers">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-suppliers" class="sidebar-link" th:href="@{/suppliers/}">
                                    <i class="fas fa-list me-2"></i>Listado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-supplier-new" class="sidebar-link" th:href="@{/supplier-new/}">
                                    <i class="fas fa-plus me-2"></i>Nuevo proveedor
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#employees" aria-expanded="false" aria-controls="employees" class="side-nav-link">
                        <i class="align-middle fas fa-users"></i>
                        <span> Empleados </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="employees">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-employees" class="sidebar-link" th:href="@{/employees/}">
                                    <i class="fas fa-list me-2"></i>Listado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-employee-new" class="sidebar-link" th:href="@{/employee-new/}">
                                    <i class="fas fa-plus me-2"></i>Nuevo empleado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#position" aria-expanded="false" aria-controls="position" class="side-nav-link">
                        <i class="align-middle fas fa-user-tie"></i>
                        <span> Cargos empleado </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="position">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-position" class="sidebar-link" th:href="@{/position/}">
                                    <i class="fas fa-list me-2"></i>Listado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-position-new" class="sidebar-link" th:href="@{/position-new/}">
                                    <i class="fas fa-plus me-2"></i>Nuevo cargo
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products" class="side-nav-link">
                        <i class="align-middle fas fa-box-open"></i>
                        <span> Productos </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="products">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-products" class="sidebar-link" th:href="@{/products/}">
                                    <i class="fas fa-list me-2"></i>Listado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-product-new" class="sidebar-link" th:href="@{/product-new/}">
                                    <i class="fas fa-plus me-2"></i>Nuevo producto
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#brands" aria-expanded="false" aria-controls="brands" class="side-nav-link">
                        <i class="align-middle fas fa-tags"></i>
                        <span> Marcas </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="brands">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-brands" class="sidebar-link" th:href="@{/brands/}">
                                    <i class="fas fa-list me-2"></i>Listado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-brand-new" class="sidebar-link" th:href="@{/brand-new/}">
                                    <i class="fas fa-plus me-2"></i>Nueva marca
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#categories" aria-expanded="false" aria-controls="categories" class="side-nav-link">
                        <i class="align-middle fas fa-layer-group"></i>
                        <span> Categorías </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="categories">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-categories" class="sidebar-link" th:href="@{/categories/}">
                                    <i class="fas fa-list me-2"></i>Listado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-categorie-new" class="sidebar-link" th:href="@{/categorie-new/}">
                                    <i class="fas fa-plus me-2"></i>Nueva categoría
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#documentsTypes" aria-expanded="false" aria-controls="documentsTypes" class="side-nav-link">
                        <i class="align-middle fas fa-users"></i>
                        <span> Tipos de documentos </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="documentsTypes">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-documents-types" class="sidebar-link" th:href="@{/documents-types/}">
                                    <i class="fas fa-list me-2"></i>Listado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-document-type-new" class="sidebar-link" th:href="@{/document-type-new/}">
                                    <i class="fas fa-plus me-2"></i>Nuevo tipo de documento
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

            <!--- End Sidemenu -->
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
