<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar-content" class="leftside-menu">
        <!-- Brand Logo Light -->
        <a th:href="@{/}" class="logo logo-light mt-2 text-center">
            <img th:src="@{/images/logo-ilomoto.png}" alt="logo" width="75" height="80">
        </a>

        <!-- Brand Logo Dark -->
        <a th:href="@{/}" class="logo logo-dark mt-2 text-center">
            <img th:src="@{/images/logo-ilomoto.png}" alt="logo" width="75" height="80">
        </a>

        <!-- Full Sidebar - Btn Cerrar Barra Lateral -->
        <div class="button-close-fullsidebar">
            <i class="ri-close-fill align-middle"></i>
        </div>

        <!-- Sidebar -->
        <div class="h-100" id="leftside-menu-container" data-simplebar>
            <!--- Sidemenu -->
            <ul class="side-nav mb-5">
                <li class="side-nav-title">Navegación</li>
                <li class="side-nav-item">
                    <a th:href="@{/}" class="side-nav-link mt-n2 active">
                        <i class="mdi mdi-spin mdi-view-dashboard-outline align-middle"></i>
                        <span> Inicio </span>
                    </a>
                </li>
                <li class="side-nav-item">
                    <a th:href="@{/general-inventory}" class="side-nav-link mt-n2 active">
                        <i class="mdi mdi-archive-outline align-middle"></i>
                        <span> Inventario general </span>
                    </a>
                </li>
                <li class="side-nav-item">
                    <a th:href="@{/quarterly-inventory}" class="side-nav-link mt-n2 active">
                        <i class="mdi mdi-calendar-outline align-middle-2"></i>
                        <span> Inventario trimestral </span>
                    </a>
                </li>

                <li class="side-nav-title">Transacciones</li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#purchases" aria-expanded="false" aria-controls="purchases" class="side-nav-link mt-n2">
                        <i class="mdi mdi-shopping-outline align-middle"></i> <!--fas fa-brands fa-shopify-->
                        <span> Compras </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="purchases">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-purchase" class="sidebar-link mt-n2" th:href="@{/new-purchase}">
                                    <i class="mdi mdi-shopping align-middle me-2"></i>Nueva compra
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-purchase-details" class="sidebar-link mt-n1 mb-2" th:href="@{/purchase-details}">
                                    <i class="mdi mdi-shopping-search align-middle me-2"></i>Detalles de compra
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="sales" class="side-nav-link mt-n2">
                        <i class="mdi mdi-cart-outline align-middle"></i>
                        <span> Ventas </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sales">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-sale" class="sidebar-link mt-n1 mb-2" th:href="@{/new-sale}">
                                    <i class="mdi mdi-cart-plus align-middle me-2"></i>Nueva venta
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-sale-details" class="sidebar-link mt-n1" th:href="@{/sale-details}">
                                    <i class="mdi mdi-cart-check align-middle me-2"></i>Detalles de venta
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-title">Mantenimientos</li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users" class="side-nav-link mt-n2">
                        <i class="mdi mdi-account-cog-outline align-middle"></i>
                        <span> Usuarios </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="users">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-user" class="sidebar-link mt-n2" th:href="@{/new-user}">
                                    <i class="mdi mdi-account-plus-outline align-middle me-2"></i>Nuevo usuario
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-users" class="sidebar-link mt-n1 mb-2" th:href="@{/users}">
                                    <i class="mdi mdi-account-eye-outline align-middle me-2"></i>Listado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#roles" aria-expanded="false" aria-controls="roles" class="side-nav-link mt-n2">
                        <i class="mdi mdi-account-convert-outline align-middle"></i>
                        <span> Roles </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="roles">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-role" class="sidebar-link mt-n2" th:href="@{/new-role}">
                                    <i class="mdi mdi-account-plus-outline align-middle me-2"></i>Nuevo rol
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-roles" class="sidebar-link mt-n1 mb-2" th:href="@{/roles}">
                                    <i class="mdi mdi-account-eye-outline align-middle me-2"></i>Listado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#customers" aria-expanded="false" aria-controls="customers" class="side-nav-link mt-n2">
                        <i class="mdi mdi-account-group-outline align-middle"></i>
                        <span> Clientes </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="customers">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-customer" class="sidebar-link mt-n2" th:href="@{/new-customer}">
                                    <i class="mdi mdi-account-multiple-plus-outline me-2"></i>Nuevo cliente
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-customers" class="sidebar-link mt-n1 mb-2" th:href="@{/customers}">
                                    <i class="mdi mdi-account-eye-outline me-2"></i>Listado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#suppliers" aria-expanded="false" aria-controls="suppliers" class="side-nav-link mt-n2">
                        <i class="mdi mdi-truck-fast-outline align-middle"></i>
                        <span> Proveedores </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="suppliers">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-supplier" class="sidebar-link mt-n2" th:href="@{/new-supplier}">
                                    <i class="mdi mdi-truck-delivery-outline me-2"></i>Nuevo proveedor
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-suppliers" class="sidebar-link mt-n1 mb-2" th:href="@{/suppliers}">
                                    <i class="mdi mdi-truck-check-outline me-2"></i>Listado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#employees" aria-expanded="false" aria-controls="employees" class="side-nav-link mt-n2">
                        <i class="mdi mdi-account-tie-outline align-middle"></i>
                        <span> Empleados </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="employees">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-employee" class="sidebar-link mt-n2" th:href="@{/new-employee}">
                                    <i class="mdi mdi-account-plus-outline me-2"></i>Nuevo empleado
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-employees" class="sidebar-link mt-n1 mb-2" th:href="@{/employees}">
                                    <i class="mdi mdi-account-eye-outline me-2"></i>Listado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#employee-positions" aria-expanded="false" aria-controls="employee-positions" class="side-nav-link mt-n2">
                        <i class="mdi mdi-briefcase-outline align-middle"></i>
                        <span> Cargos empleado </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="employee-positions">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-employee-position" class="sidebar-link mt-n2" th:href="@{/new-employee-position}">
                                    <i class="mdi mdi-briefcase-plus-outline me-2"></i>Nuevo cargo
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-employee-positions" class="sidebar-link mt-n1 mb-2" th:href="@{/employee-positions}">
                                    <i class="mdi mdi-briefcase-eye-outline me-2"></i>Listado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products" class="side-nav-link mt-n2">
                        <i class="mdi mdi-package-variant-closed align-middle"></i>
                        <span> Productos </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="products">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-product" class="sidebar-link mt-n2" th:href="@{/new-product}">
                                    <i class="mdi mdi-package-up me-2"></i>Nuevo producto
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-products" class="sidebar-link mt-n1 mb-2" th:href="@{/products}">
                                    <i class="mdi mdi-package-variant me-2"></i>Listado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#brands" aria-expanded="false" aria-controls="brands" class="side-nav-link mt-n2">
                        <i class="mdi mdi-tag-multiple-outline align-middle"></i>
                        <span> Marcas </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="brands">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-brand" class="sidebar-link mt-n2" th:href="@{/new-brand}">
                                    <i class="mdi mdi-tag-plus-outline me-2"></i>Nueva marca
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-brands" class="sidebar-link mt-n1 mb-2" th:href="@{/brands}">
                                    <i class="mdi mdi-tag-search-outline me-2"></i>Listado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#categories" aria-expanded="false" aria-controls="categories" class="side-nav-link mt-n2">
                        <i class="mdi mdi-layers-outline align-middle"></i>
                        <span> Categorías </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="categories">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-category" class="sidebar-link mt-n2" th:href="@{/new-category}">
                                    <i class="mdi mdi-layers-plus me-2"></i>Nueva categoría
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-categories" class="sidebar-link mt-n1 mb-2" th:href="@{/categories}">
                                    <i class="mdi mdi-layers-search me-2"></i>Listado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#document-types" aria-expanded="false" aria-controls="document-types" class="side-nav-link mt-n2">
                        <i class="mdi mdi-folder-account-outline align-middle"></i>
                        <span> Tipos de documentos </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="document-types">
                        <ul class="side-nav-second-level">
                            <li class="sidebar-item">
                                <a id="item-new-document-type" class="sidebar-link mt-n2" th:href="@{/new-document-type}">
                                    <i class="mdi mdi-folder-check-outline me-2"></i>Nuevo tipo de documento
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a id="item-document-types" class="sidebar-link mt-n1 mb-2" th:href="@{/document-types}">
                                    <i class="mdi mdi-folder-eye-outline me-2"></i>Listado
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--Acerca De-->
                <li class="side-nav-item">
                    <a th:href="@{/about}" class="side-nav-link mt-n2 active">
                        <i class="mdi mdi-information-outline align-middle"></i>
                        <span> Acerca de </span>
                    </a>
                </li>
            </ul>
            <!--- End Sidemenu -->
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
