<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="topbar-content" class="navbar-custom">
        <div class="topbar container-fluid">
            <!-- Sidebar Menu Toggle - Btn mostrar barra lateral-->
            <button class="button-toggle-menu">
                <i class="mdi mdi-menu"></i>
            </button>

            <ul class="topbar-menu d-flex align-items-center gap-3">
                <li class="d-sm-inline-block">
                    <div class="nav-link" id="light-dark-mode" data-bs-toggle="tooltip" data-bs-placement="left"
                         title="Cambiar tema">
                        <i class="ri-moon-line font-22"></i>
                    </div>
                </li>

                <li class="d-none d-md-inline-block">
                    <a class="nav-link" href="" data-toggle="fullscreen">
                        <i class="ri-fullscreen-line font-22"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#"
                       role="button" aria-haspopup="false" aria-expanded="false">
                        <span class="account-user-avatar">
                            <img th:src="@{/images/users/avatar-1.jpg}" alt="user-image" width="32" class="rounded-circle">
                        </span>
                        <span class="d-lg-flex flex-column gap-1">
                            <h5 class="my-0">
                                <span th:text="${username}"></span>
                            </h5>
                            <h6 class="my-0 fw-normal" th:text="${role}"></h6>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                            <h5 class="text-overflow m-0 text-center">Bienvenido</h5>
                        </div>
                        <a class="dropdown-item" href="#">
                            <i class="mdi mdi-account-circle-outline align-middle me-1"></i> Mi perfil
                        </a>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#backupModal">
                            <i class="mdi mdi-database-plus-outline align-middle me-1"></i> Backup
                        </a>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#restoreBackupModal">
                            <i class="mdi mdi-database-sync-outline align-middle me-1"></i> Restaurar
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                            <i class="mdi mdi-logout-variant align-middle me-1"></i> Cerrar sesión
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
