<!DOCTYPE html>
<html lang="en" data-sidenav-size="fullscreen">
<head>
    <meta charset="utf-8"/>
    <title>Ilomoto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>

    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

    <!-- DateRangePicker css -->
    <link th:href="@{/vendor/daterangepicker/daterangepicker.css}" rel="stylesheet" type="text/css">

    <!-- Vector Map css -->
    <link th:href="@{/vendor/jsvectormap/jsvectormap.min.css}" rel="stylesheet" type="text/css">

    <!-- Theme Config Js -->
    <script th:src="@{/js/config/hyper-config.js}"></script>

    <!-- Vendor css -->
    <link th:href="@{/css/vendor.min.css}" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link th:href="@{/css/app-saas.min.css}" rel="stylesheet" type="text/css" id="app-style"/>

    <!-- Icons css -->
    <link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Datatables css -->
    <link th:href="@{/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css}" rel="stylesheet" type="text/css" />
</head>

<body id="newBrandPage">
    <!-- Begin page -->
    <div class="wrapper">

        <!-- ========== Topbar Start ========== -->
        <div th:include="layout/topbar::topbar-content" class="navbar-custom"></div>
        <!-- ========== Topbar End ========== -->

        <!-- ========== Left Sidebar Start ========== -->
        <div th:include="layout/sidebar::sidebar-content" class="leftside-menu"></div>
        <!-- ========== Left Sidebar End ========== -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start Content-->
            <div class="content">
                <input type="hidden" id="paginaActual" name="paginaActual" value="new-brand">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a th:href="@{/}"><i class="mdi mdi-view-dashboard-outline me-1"></i>Inicio</a></li>
                                        <li class="breadcrumb-item"><a th:href="@{/brands}"><i class="mdi mdi-tag-multiple-outline me-1"></i>Marca</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Nueva</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">
                                    <i class="mdi mdi-plus me-1"></i>Nueva marca
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-n2 d-flex justify-content-center align-items-center">
                        <div class="col-xxl-12 d-flex justify-content-center">
                            <div class="card w-75 h-100">
                                <div class="card-body mt-n2">
                                    <div class="col col-12 mb-2 mt-2">
                                        <h4 class="card-title mb-0">
                                            <i class="mdi mdi-file-document-multiple"></i> Información
                                        </h4>
                                    </div>
                                    <form name="formAdd" id="formAdd">
                                        <div class="row g-3">
                                            <div class="col-md-2"></div>
                                            <!-- Nombre -->
                                            <div class="col-md-8">
                                                <label for="name" class="form-label">Nombre <i class="mdi mdi-flag-variant"></i></label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon3"><i class="mdi mdi-tag"></i></span>
                                                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre completo de la marca"
                                                           pattern="^[a-zA-ZÀ-ÿ\s]{4,30}$" title="El nombre debe tener entre 4 y 30 caracteres, se admiten solo letras. Ejemplo: Suzuki." required>
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>

                                        <!-- Botones de acción -->
                                        <div class="mt-4 d-flex justify-content-center">
                                            <button type="reset" class="btn btn-sm btn-raised btn-secondary me-2">
                                                <i class="mdi mdi-format-paint"></i> Limpiar
                                            </button>
                                            <button type="submit" class="btn btn-sm btn-raised btn-primary">
                                                <i class="mdi mdi-content-save"></i> Guardar
                                            </button>
                                        </div>
                                    </form>
                                    <p class="text-center mt-2">
                                        <small>Los campos marcados con <i class="mdi mdi-flag-variant"></i> son obligatorios</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Content -->

            <!-- Modal Logout -->
            <div th:include="layout/logoutModal::logout-modal"></div>

            <!-- Footer Start -->
            <footer th:include="layout/footer::footer-content" class="footer"></footer>
            <!-- end Footer -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- Vendor js -->
    <script th:src="@{/js/vendor/vendor.min.js}"></script>

    <!-- DateRangePicker js -->
    <script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>

    <!-- Apex Charts js -->
    <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>

    <!-- Datatables js -->
    <script th:src="@{/vendor/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/vendor/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js}"></script>

    <!-- SweetAlert2 js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!---API Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- App js -->
    <script th:src="@{/js/modules/app.min.js}"></script>
    <script th:src="@{/js/pages/jsMenu.js}"></script>
    <script type="module" th:src="@{/js/pages/jsBrand.js}"></script>
</body>
</html>